div {
    background-color: rgb(252, 255, 52);
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}
.blocks{
    background-color: rgb(158, 8, 8);
    width: 200px;
    height: 200px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
}